.product-details .product-image {
  --gradient-color-top: black;
  --gradient-color-bottom: black;
  background: linear-gradient(to bottom, var(--gradient-color-top) 0%, var(--gradient-color-bottom) 100%);
  border-radius: 20px 0 0 20px;
  padding: 3rem 0;
  flex-basis: 30%;
}

.product-details .product-logo {
  height: 1rem;
  align-self: center;
  margin-bottom: 3rem;
}

.product-details .product-picture {
  position: relative;
  left: -3rem;
  width: 100%;
  max-width: 20rem;
  filter: drop-shadow(20px 21px 16px rgba(0, 0, 0, 0.5));
}

@media screen and (max-width: 991px) {
  .product-details .product-image {
    border-radius: 20px 20px 0 0;
  }

  .product-details .product-picture {
    left: 0;
    align-self: center;
    max-width: 10rem;
  }
}

.product-details .dots {
  margin-top: 3rem;
  align-self: center;
}

.product-details .dots a {
  --dots-color: gray;
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  background-color: var(--dots-color);
}

.product-details .dots a:hover {
  background-color: white;
}

.product-details .dots a.active {
  background-color: white;
}

.product-details .dots a + a {
  margin-left: .5rem;
}

.product-details .product-description {
  flex-basis: 70%;
  padding: 2rem 3rem 3rem 3rem;
  background-color: var(--background-light-color);
  border-radius: 0 20px 20px 0;
}

@media screen and (max-width: 991px) {
  .product-details .product-description {
    border-radius: 0 0 20px 20px;
  }
}

.product-details .rating i {
  font-size: 1.5rem;
  color: var(--rating-color);
}

.product-details .product-options div + div{
  margin-left: 5rem;
  border-left: 2px solid rgba(187, 187, 187, 0.5);
  padding-left: 2rem;
}

.product-details .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}

.product-details li + li {
  margin-left: 1rem;
}

.product-details .colors {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
}

.product-details .color-01 {
  background-color: #59e8c8;
}

.product-details .color-01.active {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #59e8c8;
}

.product-details .color-02 {
  background-color: #ffee71;
}

.product-details .color-02:hover {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #ffee71;
}

.product-details .color-03 {
  background-color: #6654af;
}

.product-details .color-03:hover {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #6654af;
}

.product-details .color-04 {
  background-color: #343434;
}

.product-details .color-04:hover {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #343434;
}

.product-details .color-05 {
  background-color: #dfdfdf;
}

.product-details .color-05:hover {
  box-shadow: 0 0 0 3px white, 0 0 0 5px #dfdfdf;
}

.product-details .product-quantity input,
.product-details .product-quantity button {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-weight: bold;
}

.product-details .product-quantity button {
  border-radius: 0;
}

.product-details .product-quantity button:focus,
.product-details .product-quantity button:focus:active {
  outline: none !important;
  box-shadow: none !important;
}

.product-details .product-quantity button:first-child {
  border-right: none;
}

.product-details .product-quantity button:last-child {
  border-left: none;
}

.product-details .product-quantity .disabled {
  pointer-events: none;
  color: #a9a9a9;
  border-color: #a9a9a9;
}