@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a, a:hover, a:focus {
  text-decoration: none !important;
  outline: none;
}

li {
  list-style-type: none;
}

.btn-custom,
.btn-custom:active:focus {
  color: #fff !important;
  background-color: #ff7200 !important;
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.btn-custom:hover {
  color: #ff7200 !important;
  background-color: #fff !important;
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.header-logo {
  flex: 0 0 300px;
}

.header-logo a {
  color: #000;
  font-size: 27px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.header-logo a span {
  color: #ff7200;
  font-size: 32px;
}

.header-search {
  flex: 1;
}

.header-search input[type=text]:focus {
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.header-auth {
  flex: 0 0 300px;
}

.header-auth a,
.header-auth span {
  font-size: 17px;
  color: #666666;
}

.header-auth a:hover {
  font-weight: 700;
}

.header-auth span {
  margin: 0 5px;
}

.header-menu li {
  margin-right: 40px;
}

.header-menu ul li a {
  color: #000;
  font-size: 17px;
  font-weight: 500;
  display: block;
  padding: 2px 0;
  position: relative;
}

.header-menu ul li a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff7200;
  transition: all 0.5s;
  transform: scale(0);
}

.header-menu ul li:hover a::after,
.header-menu ul li.active a::after {
  transform: scale(1);
}

.header-menu ul li:last-child {
  margin-right: 0;
}

.categories {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.categories-item {
  overflow: hidden;
  position: relative;
  display: flex;
}

.categories-item img {
  transition-duration: .5s;
}

.categories-item:hover img {
  transform: scale(1.2);
  filter: blur(2px);
}

.categories-item.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.categories-item.item-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.categories-item.item-3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.categories-item.item-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.categories-item.item-5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.categories-text {
  position: absolute;
  left: 3rem;
  max-width: 50%;
  color: #fff;
  align-self: center;
}

.categories-item.item-1 .categories-text {
  top: 3rem;
  max-width: 80%
}

.categories-text h1 {
  margin-bottom: .7rem;
}

.categories-text p {
  margin-bottom: .7rem;
}

.categories-text a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  position:relative;
  padding: 0 0 3px;;
  display: inline-block;
}

.categories-text a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ff7200;
  content: '';
}

.products {
  padding-top: 60px;
  padding-bottom: 50px;
}

.products .section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.products .section-title h4 {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.products .section-title h4:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 30%;
  background-color: #ca1515;
}

.product {
  margin-bottom: 2rem;
}

.product-pic {
  position: relative;
  overflow: hidden;
}

.product-pic .label {
  position: absolute;
  font-size: .8rem;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 2px 8px;
  text-transform: uppercase;
  left: 10px;
  top: 10px;
}

.product-pic .label.new {
  background-color: #ff7200;
}

.product-hover {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
  margin-bottom: 0;
}

.product-hover li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 25px rgb(24 24 24 / 40%);
  opacity: 0;
}

.product-hover li:hover {
  background-color: #ff7200;
}

.product-hover li a {
  font-size: 1.1rem;
  color: #000;
}

.product-hover li i {
  transform: rotate(0);
  transition: all .3s ease-in .1s;
}

.product-hover li:hover i {
  color: #fff;
  transform: rotate(360deg);
}

.product-pic:hover .product-hover li {
  opacity: 1;
  top: 0;
}

.product-hover li:nth-child(1) {
  transition: all 0.4s ease 0.1s;
}


.product-hover li:nth-child(2) {
  transition: all 0.4s ease 0.15s;
}


.product-hover li:nth-child(3) {
  transition: all 0.4s ease 0.2s;
}


.product-hover li:nth-child(4) {
  transition: all 0.4s ease 0.25s;
}

.product-text {
  text-align: center;
  margin-top: 1.5rem;
}

.product-text a {
  color: #000;
}

.product-text .rating {
  margin: .5rem 0;
}

.product-text .rating i {
  font-size: 1.5rem;
  color: #e3c01c;
}

.product-text .product-price {
  font-weight: 600;
}