@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 5rem 0;
}

a, a:hover, a:focus {
  text-decoration: none !important;
  outline: none;
}

li {
  list-style-type: none;
}

/*-----------------------------------------------------------------------
--------------------------------  HEADER  -------------------------------
-------------------------------------------------------------------------*/

.btn-custom,
.btn-custom:active:focus {
  color: #fff !important;
  background-color: #ff7200 !important;
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.btn-custom:hover {
  color: #ff7200 !important;
  background-color: #fff !important;
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.header-logo {
  flex: 0 0 300px;
  margin-bottom: -.7rem;
}

.header-logo a {
  color: #000;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
}

.header-logo a span {
  color: #ff7200;
  font-size: 2rem;
}

.header-search {
  flex: 1;
}

.header-search input[type=text]:focus {
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.header-auth {
  flex: 0 0 300px;
}

.header-auth a,
.header-auth span {
  color: #666666;
}

.header-auth a:hover {
  font-weight: 700;
}

.header-auth span {
  margin: 0 5px;
}

.header-menu li {
  margin-right: 40px;
}

.header-menu ul li a {
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  padding: 2px 0;
  position: relative;
}

.header-menu ul li a::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff7200;
  transition: all 0.5s;
  transform: scale(0);
}

.header-menu ul li:hover a::after,
.header-menu ul li.active a::after {
  transform: scale(1);
}

.header-menu ul li:last-child {
  margin-right: 0;
}

/*-----------------------------------------------------------------------
--------------------------------  BANNER  -------------------------------
-------------------------------------------------------------------------*/

.categories {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  padding: 0;
}

.categories-item {
  overflow: hidden;
  position: relative;
  display: flex;
}

.categories-item img {
  width: 100%;
  transition-duration: .5s;
}

.categories-item:hover img {
  transform: scale(1.2);
  filter: blur(2px);
}

.categories-item.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.categories-item.item-2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.categories-item.item-3 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.categories-item.item-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.categories-item.item-5 {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.categories-text {
  position: absolute;
  left: 3rem;
  max-width: 50%;
  color: #fff;
  align-self: center;
}

.categories-item.item-1 .categories-text {
  top: 3rem;
  max-width: 80%
}

.categories-text h1 {
  margin-bottom: .7rem;
}

.categories-text p {
  margin-bottom: .7rem;
}

.categories-text a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding: 0 0 3px;;
  display: inline-block;
}

.categories-text a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ff7200;
  content: '';
}

/*-----------------------------------------------------------------------
--------------------------------  PRODUCTS  -----------------------------
-------------------------------------------------------------------------*/

.products {
  margin-bottom: -2rem;
}

.products .section-title {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.products .section-title h4 {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.products .section-title h4:after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 30%;
  background-color: #ca1515;
}

.product {
  margin-bottom: 2rem;
}

.product-pic {
  position: relative;
  overflow: hidden;
}

.product-pic .label {
  position: absolute;
  font-size: .8rem;
  color: #ffffff;
  font-weight: 500;
  display: inline-block;
  padding: 2px 8px;
  text-transform: uppercase;
  left: 10px;
  top: 10px;
}

.product-pic .label.new {
  background-color: #ff7200;
}

.product-hover {
  display: flex;
  gap: 16px;
  justify-content: center;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 30px;
  margin-bottom: 0;
}

.product-hover li {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 25px rgb(24 24 24 / 40%);
  opacity: 0;
}

.product-hover li:hover {
  background-color: #ff7200;
}

.product-hover li a {
  font-size: 1.1rem;
  color: #000;
}

.product-hover li i {
  transform: rotate(0);
  transition: all .3s ease-in .1s;
}

.product-hover li:hover i {
  color: #fff;
  transform: rotate(360deg);
}

.product-pic:hover .product-hover li {
  opacity: 1;
  top: 0;
}

.product-hover li:nth-child(1) {
  transition: all 0.4s ease 0.1s;
}


.product-hover li:nth-child(2) {
  transition: all 0.4s ease 0.15s;
}


.product-hover li:nth-child(3) {
  transition: all 0.4s ease 0.2s;
}


.product-hover li:nth-child(4) {
  transition: all 0.4s ease 0.25s;
}

.product-text {
  text-align: center;
  margin-top: 1.5rem;
}

.product-text a {
  color: #000;
}

.product-text .rating {
  margin: .5rem 0;
}

.product-text .rating i {
  font-size: 1.5rem;
  color: #e3c01c;
}

.product-text .product-price {
  font-weight: 600;
}

/*-----------------------------------------------------------------------
-----------------------------  NEWSLETTER  ------------------------------
-------------------------------------------------------------------------*/

.newsletter-area {
  background-color: #f4f4f4;
}

.newsletter-area p,
.newsletter-area form {
  margin: 0 auto;
  width: 60%;
}

.newsletter-area p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #777;
  font-weight: 600;
}

.subscribe-form input {
  padding: 1.5rem;
  color: #495057;
  border-radius: 50px;
  border: none;
  outline: none;
  letter-spacing: 2px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15);
}

.btn.submit {
  background-color: #ff7200;
  color: #ffffff;
  padding: .7rem 3rem;
  text-transform: uppercase;
  border-radius: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.15);
  transition: all .3s;
}

.btn.submit:hover {
  background-color: #e46d0c;
}

/*-----------------------------------------------------------------------
--------------------------------  FOOTER  -------------------------------
-------------------------------------------------------------------------*/

.footer .footer-logo {
  margin-bottom: 1rem;
}

.footer .footer-logo a {
  font-size: 2rem;
  color: #000;
}

.footer .footer-logo a span {
  color: #ff7200;
  font-weight: 700;
}

.footer .footer-about p {
  margin-bottom: 2rem;
  width: 80%;
}

.footer .footer-social a {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: #ff7200;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  border-radius: 10%;
  margin-right: .5rem;
  transition: all .5s;
}

.footer .footer-social a:hover {
  background-color: #e46d0c;
  color: #ffffff;
}

.footer .footer-social a:last-child {
  margin-right: 0;
}

.footer .footer-widget h6 {
  color: #111;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer .footer-widget li {
  margin-bottom: .4rem;
}

.footer .footer-widget a {
  font-size: .9rem;
  color: #666;
}

footer {
  background-color: #f4f4f4;
}

footer a,
footer a:hover {
  color: #ff7200;
}

/*-----------------------------------------------------------------------
--------------------------------  SIGN-IN  ------------------------------
-------------------------------------------------------------------------*/
body.custom-modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.sign-in-modal {
  width: 50%;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.sign-in-img {
  background: url("../img/signin/01.jpg") no-repeat center/cover;
}

.sign-in-form {
  padding: 2rem 3rem;
  text-align: center;
}

.sign-in-form h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.sign-in-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.sign-in-socials a {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: #ff7200;
  color: #ffffff;
  line-height: 30px;
  text-align: center;
  border-radius: 10%;
  margin-right: .5rem;
  transition: all .5s;
}

.sign-in-socials a:hover {
  background-color: #e46d0c;
  color: #ffffff;
}

.sign-in-form .custom-input-group {
  margin-bottom: 1rem;
}

.sign-in-form input[type="text"],
.sign-in-form input[type="password"] {
  padding: 1.5rem 1rem;
  color: #495057;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

.sign-in-form input[type="text"]:focus,
.sign-in-form input[type="password"]:focus {
  border: 2px solid #ff7200;
  box-shadow: none;
}

.sign-in-form .custom-input-group.error input[type="text"],
.sign-in-form .custom-input-group.error input[type="password"],
.sign-in-form .custom-input-group.error input[type="text"]:focus,
.sign-in-form .custom-input-group.error input[type="password"]:focus {
  border: 2px solid #ca1515;
}

.sign-in-form input[type="submit"],
.sign-in-form input[type="submit"]:focus:active {
  color: #fff !important;
  background-color: #ff7200 !important;
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.sign-in-form input[type="submit"]:hover {
  color: #ff7200 !important;
  background-color: #fff !important;
  border-color: #ff7200 !important;
  box-shadow: none !important;
}

.sign-in-form .error-msg {
  margin-top: .5rem;
  padding-left: 1rem;
  text-align: left;
  font-size: .8rem;
  color: #ca1515;
  height: 1rem;
}