body {
  background-color: var(--background-color);
}

/* Navbar */
.sidebar {
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.7)), url(../../img/admin/navbar/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 5px 7px 25px #999;
}

.sidebar .profile img {
  width: 200px;
  height: 200px;
}

.sidebar .profile .welcome-msg {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: var(--text-inverted-color);
}

.sidebar-link {
  color: var(--text-inverted-color) !important;
  transition: all .4s;
}

.sidebar-link:hover {
  background-color: #444;
  border-radius: 5px;
}

.current {
  background-color: var(--primary-color);
  border-radius: 7px;
  box-shadow: 2px 5px 10px #111;
  transition: all .3s;
}

.current:hover {
  background-color: var(--primary-dark-color);
  border-radius: 7px;
  box-shadow: 2px 5px 20px #111;
  transform: translateY(-1px);
}

.top-navbar {
  background-color: #77787b;
}

.top-navbar .sign-out-btn {
  background-color: var(--primary-color);
  text-transform: uppercase;
  color: var(--text-inverted-color);
}

.top-navbar .sign-out-btn:hover {
  background-color: var(--primary-dark-color);
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
  }

  .top-navbar {
    position: static;
  }
}
/* End of navbar */

/* Cards */
.card-common {
  box-shadow: var(--card-shadow);
  transition: all .4s;
}

.card-common:hover {
  box-shadow: var(--card-hover-shadow);
  transform: translateY(-1px);
}
/* End of cards */